<% layout('layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
        <h3>Create a NewListing</h3>
        <form action="/listings" method="post" class="needs-validation"  novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="listing[title]" placeholder="Add a catchy title" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="listing[description]" rows="4" placeholder="Enter description" required></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">ImageLink</label>
                <input type="text" class="form-control" name="listing[image]" placeholder="Enter image URL/link">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" name="listing[price]" placeholder="Enter price" required>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" name="listing[country]" placeholder="Enter country" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="listing[location]" placeholder="Enter location" required>
            </div>
            <button type="submit" class="add-btn btn-dark">Add</button>
        </form>
        </div>
    </div>
</body>

